---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Alegreya', serif;
$base-font-size:   22px;
$second-font-family: 'Open Sans', sans-serif;
$base-font-weight: 400;
$on-palm-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #3A3A3A;
$background-color: #fdfdfd;
$brand-color:      #EE4938;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        980px; //changed it from 800


// need to fix my media queries
// $on-palm:          22.72em; //500px
// $medium:         34.54em; //760px
// $on-laptop:          46.54em; //1024px
// $xlarge:         51.81em; //1140px

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "home",
        "articles",
        "layout",
        "page-content",
        "post",
        "site-header",
        "site-footer",
        "syntax-highlighting"
;
