/**
 * Articles
 */

 .hero {
   padding-top: 4em;
 }

.post-list {
  padding-top: 4em;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-query ($on-laptop) {
    padding-top: 2em;
  }
  li {
    margin-bottom: 5em;
  }
  h2 {
    margin-bottom: 0;
    @include media-query ($on-palm) {
      font-size: 1em;
    }
    a {
      color: $text-color;
      text-decoration: none;
      &:hover {
        color: $brand-color;
      }
    }
  }
  .post-link {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.24;
  }
  p {
    margin-bottom: 0;
  }
}

@include media-query($on-palm) {
  .post-list {
    padding: 1em 0;
  }
}
