/**
 * Page content
 */

.hero {
  padding-top: $spacing-unit*3;
  @include media-query($small) {
    padding-top: $spacing-unit*2;
  }
}
.page-content {
    flex: 1;
}

.page-heading {
   padding-top: 3em;

   @include media-query($medium) {
     padding-top: 1.5em;
   }

   @include media-query($small) {
     padding-top: 0;
   }

}

.page-title {
  font-size: 1.5em;
  font-weight: 700;
  color:$text-color;
  @include media-query($small) {
    font-size: 1.25em;
  }
}
