/**
 * Page content
 */

.page-content {
    flex: 1;
}

.page-heading {
   padding-top: 4em;
   @include media-query($on-laptop) {
     padding-top: 2em;
   }
   @include media-query($on-palm) {
     padding-top: 1em;
   }
    h1 {
      font-size: 2.25em;
      font-weight: 700;
      color:$text-color;
      @include media-query($on-palm) {
        font-size: 1.25em;
      }
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
