/**
 * Post layout (Article)
 */

.post-header {
    padding-top: 2em;
    // margin-bottom: $spacing-unit;
    @include media-query($on-palm) {
        padding-top: 1.5em;
    }
}

.post-cover {
  margin-bottom:$spacing-unit;
}

.post-title {
    font-weight: 700;
    font-size: 3em;
    line-height: 1.24;
    color: #3A3A3A;
    @include media-query($on-laptop) {
        font-size: 2em;
    }
    @include media-query($on-palm) {
        font-size: 1.5em;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.24;

        @include media-query($on-laptop) {
            font-size: 28px;
            font-size: 1.2em;
        }
    }

    h3 {
        font-size: 1.1em;
        font-weight: 700;
        color: $grey-color;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    em {
      color: $grey-color;
      font-size:0.9em;
      margin-bottom: $spacing-unit;
    }

    blockquote {
      color: $text-color;
      font-size: 1em;
      border-left: 3px solid $text-color;
      letter-spacing: 0;
    }

    hr {
     margin-bottom: $spacing-unit;
    }

    ul {
      list-style-type:disc;
    }

    // img {
    //   text-align: center;
    //   border: 1px solid #ccc;
    // }

    // h4 {
    //     font-size: 20px;
    //
    //     @include media-query($on-laptop) {
    //         font-size: 18px;
    //     }
    // }
}
