/**
 * Site footer
 */
.site-footer {
  padding: 1.125em 3.3em 1.125em 1.5em;
  text-transform: uppercase;
  font-family: $second-font-family;
  font-size: 0.8em;
  padding: 1.5em;
  border-top: 1px solid $grey-color-light;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
  }
  .connect-central{
    margin-right: 3em;
  }

  @include media-query($on-palm) {
    padding: 1em;
    ul {
      margin-left: 0;
    }
    li {
      font-size: 0.6em;
    }
    .connect-central {
      margin-right:0;
    }
  }

}
