// -------------------------------------
// site-header
// -------------------------------------

#site-header {
  padding: 1.125em 0;
  font-family: $second-font-family;
  text-transform: uppercase;
  border-top: 5px solid $brand-color;
  // border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  a:first-of-type {
    text-decoration: none;
  }

  @include media-query($small) {
    display: flex;
    margin-bottom: $spacing-unit;
  }

}

.site-nav {
  display: flex;
  justify-content:space-around;

  @include media-query($small) {
    flex-direction: column;
    margin: 0 auto;
  }

  .site-title {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 56px;
    align-self: center;

  }

  .nav {
    margin-left: 0;
    margin-bottom: 0;
    align-self: center;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;

    @include media-query($small) {
      margin-bottom: 0;
    }

    .nav__item {
      display: inline-block;
      padding: 0 10px;
      font-weight: 700;

      a {
        text-decoration: none;

        &:hover {
        text-decoration: underline;
        }

      }

    }

  }

}
