/**
 * Site header
 */
.site-header {
    padding: 1.125em 3em 1.125em 1.5em;
    font-family: $second-font-family;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 5px solid $brand-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    a:first-of-type{
      text-decoration: none;
    }

    #site-nav {
      display: flex;
      justify-content:space-around;

      .site-title {
          font-size: 1.2em;
          font-weight: 300;
          line-height: 56px;
          align-self: center;
          // @include media-query($on-laptop) {
          //   align-self: left;
          // }
      }

      .nav {
        margin: 0;
        align-self: center;

        ul {
          display: flex;
          justify-content: space-between;
        }

        li {
          font-size: 0.8em;
          display: inline-block;
          padding: 0 10px;
          a {
            text-decoration: none;
            &:hover {
            text-decoration: underline;
            }
        }

      }

    }
}

/**
 * Media Queries
 */


 @include media-query($on-palm) {

   .site-header {
     display: flex;
   }

   #site-nav {
     flex-direction: column;
     margin: 0 auto;

     .site-title {
        font-size: 1.1em;
        line-height: 1.4em;
     }

     li {
       font-size: 0.7em;
     }

   }

 }


}
