/**
 * Site header
 */
.site-header {
    padding: 1.125em 3em 1.125em 1.5em;
    font-family: $second-font-family;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 5px solid $brand-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    @include media-query($on-palm) {
      padding-left: 15px;
    }
}

#site-nav {
  display: flex;
  justify-content:space-between;
  a {
    text-decoration: none;
    align-self:middle;
    &:hover {
      text-decoration: underline;
    }
  }
  .site-title {
      font-size: 1.2em;
      font-weight: 300;
      line-height: 56px;
      align-self: center;
      @include media-query($on-palm) {
        align-self: left;
        font-size: 1.1em;
        line-height: 1.4;
      }
  }
  ul {
    margin:0;
    align-self: center;
    @include media-query($on-palm) {
      align-self: left;
    }
  }
  li {
    font-size: 0.8em;
    display: inline-block;
    // align-self: center;
    margin-right: 1.3em;
    @include media-query($on-palm) {
      margin-right: 1em;

    }
  }
  @include media-query($on-palm) {
    display: flex;
    flex-direction: column;
    li {
      font-size: 0.7em;
      margin-right: 0.7em;
    }
  }
}
