/**
 * Site footer
 */
.site-footer {
  margin-top: $spacing-unit;
  text-transform: uppercase;
  font-family: $second-font-family;
  font-size: 0.8em;
  padding: 1.5em 0;
  border-top: 1px solid $grey-color-light;
  ul {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
  }

  @include media-query($on-palm) {
      padding: 1em 0;
      li {
        font-size: 0.8em;
      }
  }

}
